%-*-Erlang-*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {setup,         "1.8.4"},
    {lager,         "3.5.2"},
    {exometer_core, "1.5.2"},
    {dtlsex,        {git, "git://github.com/RoadRunnr/dtlsex.git", {branch, "master"}}},
    {regine,        {git, "git://github.com/travelping/regine.git", {branch, "master"}}},
    {ergw_aaa,      {git, "git://github.com/travelping/ergw_aaa.git", {tag, "2.2.0"}}},
    {gen_socket,    {git, "git://github.com/travelping/gen_socket.git", {branch, "master"}}},
    {pcapng,        {git, "git://github.com/travelping/pcapng.git", {branch, "master"}}},
    {cowboy,        "2.2.0"},
    {pbkdf2,        "2.0.0"},
    {jsx,           "2.8.2"},
    {parse_trans,   "3.1.0"},
    {hackney,       "1.10.1"}
]}.

{minimum_otp_vsn, "20"}.
{plugins, [{coveralls, "1.4.0"}]}.

{profiles, [
	    {test, [
		    {erl_opts, [nowarn_export_all]},
		    {deps, [
			    {meck, "0.8.9"},
			    {proper, "1.2.0"}
			   ]}
		   ]}
	   ]}.

%% xref checks to run
{xref_checks, []}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B
      - (\"crypto\":\"cmac\"/\"3\"))",
   []}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_service_name, "travis-ci"}.
{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.

%% development setting
{shell, [{config, "priv/dev.config"}]}.
