{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{minimum_otp_vsn, "19.0"}.

{deps, [
    {lager,         "3.5.2"},
    {exometer_core, "1.5.2"},
    {dtlsex,        {git, "git://github.com/RoadRunnr/dtlsex.git", {branch, "master"}}},
    {flower,        {git, "git://github.com/travelping/flower.git", {branch, "master"}}},
    {regine,        {git, "git://github.com/travelping/regine.git", {branch, "master"}}},
    {ergw_aaa,      {git, "git://github.com/travelping/ergw_aaa.git", {branch, "master"}}},
    {gen_socket,    {git, "git://github.com/travelping/gen_socket.git", {branch, "master"}}},
    {pcapng,        {git, "git://github.com/travelping/pcapng.git", {branch, "master"}}},
    {cowboy,        "2.2.0"},
    {pbkdf2,        "2.0.0"},
    {jsx,           "2.8.2"}
]}.

%% xref checks to run
{xref_checks, []}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B
      - (\"crypto\":\"cmac\"/\"3\"))",
         []}]}.
